<div class="experiencia-laboral bg-light">
    <h1>Experiència</h1>
    <div class="experience-container">
        <div class="job">
            <h3>Venedor de loteria</h3>
            <p class="job-date">Febrer 2022 - Agost 2023</p>
            <p class="job-description">Atendre els clients de manera adequada</p>
        </div>
        <div class="job">
            <h3>Professor de Tennis Taula al Casal Cívic</h3>
            <p class="job-date">Maig 2022 - Juny 2022</p>
            <p class="job-description">Ensenyar l'esport a persones de diferents edats les bases del Tennis Taula</p>
        </div>
        <div class="job">
            <h3>Pràctiques al consell comarcal d'osona</h3>
            <p class="job-date">Març 2021 - Juny 2021</p>
            <p class="job-description">Fer tasques de Helpdesk, solucionar problemes relacionats amb l'Office 365 i configurar portàtils</p>
        </div>
    </div>
</div>